<header class="br-header mb-4" id="header" data-sticky="data-sticky">
  <div class="container-lg">
    <div class="header-top">
      <div class="header-logo">
        <img
          src="assets/logo/logo_ufjf_v6.png"
          alt="logo"
        /><span class="br-divider vertical"></span>
        <div class="header-sign">
          Design System do Governo - Web Components 2.0
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="header-menu">
        <div class="header-menu-trigger" id="header-navigation">
          <button
            class="br-button small circle"
            type="button"
            aria-label="Menu"
            data-toggle="menu"
            data-target="#main-navigation"
            id="navigation"
          >
            <i class="fas fa-bars" aria-hidden="true"></i>
          </button>
        </div>
        <div class="header-info">
          <div class="header-title">Template básico</div>
          <div class="header-subtitle">Subtítulo do Header</div>
        </div>
      </div>
      <div class="header-search" id="main-searchbox">
        <div class="br-input has-icon">
          <label for="searchbox">Texto da pesquisa</label>
          <input id="searchbox" type="text" placeholder="O que você procura?" />
          <button
            class="br-button circle small"
            type="button"
            aria-label="Pesquisar"
          >
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
        <button
          class="br-button circle search-close ml-1"
          type="button"
          aria-label="Fechar Busca"
          data-dismiss="search"
        >
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>
